body {
    background-color: #f0f8db;
}

#br {
    color: #ff6500;
}

#t1 {
    
    margin-left: 3%;
    margin-top: 2%;
    color: #57c76b;  
}

#t2 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#tt {

    margin-left: 3%;
    margin-top: 1%; 
}

#ttt {

    margin-left: 3%;
    margin-top: 1%; 
}

#t3 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#dd {

    margin-left: 3%;
    margin-top: 1%; 
}

#ddd {

    margin-left: 3%;
    margin-top: 1%; 
}

#t4 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#bb {

    margin-left: 3%;
    margin-top: 1%; 
}

#bbb {

    margin-left: 3%;
    margin-top: 1%; 
}

#t5 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#zz {

    margin-left: 3%;
    margin-top: 1%; 
}

#zzz {

    margin-left: 3%;
    margin-top: 1%; 
}

#t6 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#jj {

    margin-left: 3%;
    margin-top: 1%; 
}

#jjj {

    margin-left: 3%;
    margin-top: 1%; 
}

#t7 {
    margin-left: 3%;
    margin-top: 2%;
    color: rgb(110, 199, 74);
}

#gg {

    margin-left: 3%;
    margin-top: 1%; 
}

#ggg {

    margin-left: 3%;
    margin-top: 1%; 
}