body {
    background-color:#f0f8db;
}

#t1 {
    margin-left: 3%;
    margin-top: 2%;
    color: #57c76b;
}

#br {
    color: #ff6500;
 
}

#t2 {

    margin-top: 2%;
    width: 1200px;
    margin-left: 3%;
    
}