body{
    background-image: url(../img/junina.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
#jun {
    
     
    height: 200px;
    min-height: 700px;
    margin-left: auto;
    width:1580px ;
    


}
    #for {
        margin-top: 100px;
        background-color: rgba(19, 133, 105,0.5);
        margin-right: auto; 
        height: 200px;
        min-height: 440px;
        margin-left: auto;
        width:480px ;
        
    }

    label{
        font-size: 35px;
    }

    #br {
        color: #ff6500;
    }